@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


p{margin: 0;padding: 0;}
.itemBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 600px;
    border: 1px solid #524210;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    margin: 10px auto 15px;
    border-radius: 100px;
    padding: 5px 0;
    overflow: hidden;
}

/*기분에 따라 달라지는 이미지*/
.imgArea {
    width: 70px;
    height: 80px;
    margin-left:10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.calmnessImage {background-image: url('../img/calmness.png');}
.exitedImage {background-image: url('../img/exited.png');}
.greatImage {background-image: url('../img/great.png');}
.flutterImage {background-image: url('../img/flutter.png');}
.tiredImage {background-image: url('../img/tired.png');}
.stressImage {background-image: url('../img/stress.png');}
.worryImage {background-image: url('../img/worry.png');}
.blueImage {background-image: url('../img/blue.png');}
.sosoImage {background-image: url('../img/soso.png');}


/*텍스트 내용*/

.textArea {
    padding:10px;
    box-sizing: border-box;
    width: 85%;
    
}

.textArea .date {
    font-size: 13px;
    color: gray;
}

.textArea .text {
    margin-top: 5px;
    font-size: 18px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

}






/*작성페이지*/
.selectType{
    width: 100%;
    overflow: scroll;    
}
h4{
    margin-top: 10px;
    margin-bottom: 15px;
}
.selectTypeBox{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #9d8d5a;
    box-sizing: content-box;
    text-align: center;
    
}
.selectType::-webkit-scrollbar {
    display: none;
  }
.contentBox{
    display: flex;
    width: auto;
}

.contentBox label{
    margin-right:25px;
}
.contentBox label img{
    width:70px;
}

.bottom{
    display: flex;
    flex-direction: column;
}
.bottom textarea{
    width: 80%;
    min-height: 350px;
    border-radius: 15px;
    margin: 15px auto;
    padding: 25px;
    box-shadow: 1px 1px 5px #9d8d5a;
    border:none;
    font-size: 20px;
    outline: none;
    font-family: 'KyoboHand';
}
.bottom textarea::placeholder{
    color:lightgray;
    font-weight: 600;
    font-family: 'noto sans';
}
.bottom button{
    width: 30%;
    margin: auto;
    padding: 10px;    
    box-sizing: content-box;
    border:none;
    box-shadow: 1px 1px 5px #9d8d5a;
    border-radius: 5px;
    background-color: #ffb100;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}




/*게시물 상세*/

.detailContent{
    padding:30px 50px;
    box-sizing: border-box;
}
.modeArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: #fff;
    border-radius: 50% 20% / 10% 40%;
}

.modeArea h3 {
    margin: 0;
    padding-bottom: 10px;
}

.modeArea .imgArea {
    width: 90px;
    height:100px;
}

.subContent{
    display: flex; 
    justify-content: space-between;   
    margin-top: 50px;
}
.dateArea{
    display: flex;
}
.dateArea p {    
    padding-left: 7px;
}

.teaxArea{
    font-size: 20px;
    line-height: 1.5;
    padding:0px 10px;
    margin-top: 7px;
    font-family: 'KyoboHand';
}
.detailContent .btnArea button{
    border: none;
    background-color: #00000000;
    color:gray;
    



}